body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f8fa;
    color: #0d1b3d;
}

header {
    background: white;
    color: white;
    padding: 30px 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin: 5px 0 10px;
}

header p {
    margin: 8px 0;
}

header p strong {
    color: #b7f7dc;
}

.logo {
    width: 320px;
    max-width: 85%;
    height: auto;
    display: block;
    margin: 0 auto 15px;
}

main {
    padding: 30px 20px;
    max-width: 1000px;
    margin: auto;
}

main h2 {
    text-align: center;
    color: #0d1b3d;
    margin-bottom: 25px;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}

.card {
    background: white;
    padding: 25px 15px;
    border-radius: 14px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: #0d1b3d;
    border: 2px solid #d8eee5;
    box-shadow: 0 4px 10px rgba(13, 27, 61, 0.08);
    transition: 0.2s;
}

.card:hover {
    background-color: #ecfdf5;
    border-color: #059669;
    transform: translateY(-3px);
}

footer {
    background-color: #0d1b3d;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

@media (max-width: 600px) {
    .menu {
        grid-template-columns: 1fr;
    }

    header h1 {
        font-size: 30px;
    }

    header {
    padding: 5px 10px;
  }

.logo {
    display: block;
    width: 180px;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

header p {
    margin: 2px 0;
    font-size: 12px;
  }
}

/* EMERGENCY MODE */
.emergency-card {
    background: #fff0f0;
    border: 3px solid #d32f2f;
    color: #b71c1c;
    font-size: 22px;
    padding: 25px 15px;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(211, 47, 47, 0.25);
    animation: emergencyPulse 1.5s infinite;
}

.emergency-card small {
    display: block;
    font-size: 14px;
    margin-top: 8px;
    color: #7f0000;
}

@keyframes emergencyPulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.02);
    }
}

/* Logo untuk telefon */
@media (max-width: 600px) {
    header {
        padding: 8px 10px !important;
    }

    header img,
    .logo {
        width: 150px !important;
        max-width: 150px !important;
        height: auto !important;
        display: block;
        margin: 0 auto;
    }
}
